@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

nav ul {
	list-style: none;
}

.botonera {
	list-style: none;
	padding: 10px;
	margin: 15px 0px 0px 0px;
	background-color: #C5D766;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	justify-content: center;
}

.botonera a {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: white;
	padding: 10px;
}

.botonera a:hover {
	color: #806D33;
}

.botonera ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	height: 50px;
	gap: 100px;
}

.fotoynombre{
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	gap: 50px;
	margin: 30px 200px 0px 200px;
}
  
header img{
	margin-top: 30px;
	border-radius: 30px;
	box-shadow: 0px 5px 20px;
}

header div {
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
}

body{
	background: rgb(203,238,15);
	background: linear-gradient(56deg, rgba(203,238,15,1) 0%, rgba(197,215,102,1) 45%, rgba(223,235,168,1) 77%);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	padding: 0 50px 0 50px;
	color: #46392A;
}

h1{
	font-family: 'Comfortaa', cursive;
	font-weight: 100;
	font-size: 55px;
	line-height: 60px;
}

h2 {
	font-size: 28px;
	line-height: 35px;
	font-weight: 600;
	color: #806D33;
	margin-bottom: 15px;
}

h4 {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

.contenedor {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 30px 200px 0px 200px;
}

.columna1{
	margin: 0 90px 0 0;
}

.columna2 {
	margin: 0 0 0 2px;
}

.sobremi p {
	max-width: 420px;
}

.contacto div{
	display: flex;
	flex-direction: row;
	gap: 20px;
}


.contacto h4 {
	font-size: 14px;
	font-weight: 500;
}

.listado li {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-end;
}

.listado img {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: flex-start;
}

.sobremi, .datospersonales, .contacto, .habilidades, .capacidades, .idiomas, .estudios, .experiencialaboral, .proyectos {
	margin: 30px 0;
}

h5 {
	font-size: 14px;
	font-weight: 900;
	line-height: 25px;
	padding-bottom: 8px;
}

footer p {
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

footer {
	padding: 5px;
	margin: 30px 0px 30px 0px;
	height: 30px;
	background-color: #A28C48;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	justify-content: center;
}