@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

header {
	position: fixed;
	z-index: 1;
	width: 93%;
}

nav ul {
	list-style: none;
}

.botonera {
	list-style: none;
	padding: 10px;
	margin: 15px 0px 15px 0px;
	background-color: #A28C48;
	box-shadow: 0px 5px 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	justify-content: space-between;
}

.botonera a {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	border-radius: 10px;
}

.botonera ul a:hover {
	background-color: #C5D766;
	color: #46392A;
}

.botonera ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	height: 50px;
	gap: 100px;
}

.botonera img {
	display: flex;
	align-items: center;
	transition: transform 0.3s ease;
}

.botonera img:hover {
	transform: scale(1.1);
}

.fotoynombre{
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	gap: 50px;
	margin: 30px 200px 0px 200px;
}

.fotoynombre img{
	margin-top: 30px;
	border-radius: 15px;
	box-shadow: 0px 5px 20px;
}

header div {
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
}

main {
	padding-top: 60px;
}

body{
	background: rgb(203,238,15);
	background: linear-gradient(56deg, rgba(203,238,15,1) 0%, rgba(197,215,102,1) 45%, rgba(223,235,168,1) 77%);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	padding: 0 50px 0 50px;
	color: #46392A;
	cursor: url("img/cursor-dos.svg"), auto;
}

h1{
	font-family: 'Comfortaa', cursive;
	font-weight: 100;
	font-size: 55px;
	line-height: 65px;
	max-width: 600px;
}

.main h2 {
	font-size: 28px;
	line-height: 35px;
	font-weight: 600;
	color: #806D33;
	margin-bottom: 15px;
}

.contacto h2 {
	padding-bottom: 5px;
}

h4 {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	margin-top: 8px;
}

.contenedor {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 30px 200px 0px 200px;
	gap: 10px;
}

.columna1{
	margin: 0 90px 0 0;
}

.columna2 {
	margin: 0 0 0 2px;
}

.sobremi p {
	max-width: 420px;
}

.contacto div {
	display: flex;
	gap: 10px;
}

.contacto img {
	transition: transform 0.3s ease;
}

.contacto img:hover {
	transform: scale(1.1);
}

.listado li {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-end;
}

.listado img {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: flex-start;
}

.sobremi, .datospersonales, .contacto, .habilidades, .capacidades, .idiomas, .estudios, .experiencialaboral, .proyectos {
	margin: 30px 0;
} 
/*probé de mover el margin directamente al main (como me recomendaron) pero al hacerlo se perdieron ciertos espacios que se habían generado, no sé si estoy haciendo algo mal :( */

h5 {
	font-size: 14px;
	font-weight: 900;
	line-height: 25px;
}

section {
	margin-top: 60px;
}

.contacto-formulario h2 {
	padding-top: 60px;
}

.contenedorformulario {
	margin: 30px 200px 0px 200px;
}

.items-formulario {
	display: flex;
	flex-direction: row;
}

.izquierda, .derecha {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

form {
	padding: 25px 0px 15px;
}

label {
	border-radius: 5px;
}

input {
	width: 80%;
	border-radius: 5px;
	padding: 3px;
	border-color: #A28C48;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 12px;
}

.mensaje {
	margin-top: 10px;
}

textarea {
	display: flex;
	flex-direction: column;
	height: 70px;
	width: 90%;
	margin-top: 10px;
	border-radius: 5px;
	padding: 5px;
	border-color: #A28C48;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 12px;
}

.enviar-formulario {
	display: flex;
	justify-content: flex-start;
	margin-top: 30px;
	height: 40px;
	width: 20%;
	margin-bottom: 30px;
}

.enviar-formulario input {
	padding: 10px;
	height: 50px;
	width: 100%;
	color: white;
	background-color: #A28C48;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	transition: transform 0.3s ease;
}

.enviar-formulario input:hover {
	background-color: #618634;
	transform: scale(1.1);
}

.proyectos h2 {
	padding-top: 20px;
}

.proyectos h4 {
	padding-top: 5px;
	padding-bottom: 15px;
	width: 60%;
	max-width: 700px;
}

.contenedorgaleria {
	height: auto;
	width: 75%;
	display: grid;
	padding: 20px 0px 20px;
}

.contenedorgaleria img {
	transition: transform 0.3s ease;
}

.contenedorgaleria img:hover {
	transform: scale(1.1);
}
.fila1, .fila2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 18px;
}

.fila1 {
	padding-bottom: 18px;
}

.proyectos .contenedorgaleria img {
	view-transition-name: photo-0;
} /* PRUEBA DE TRANSICIÓN - no me estaría saliendo */

.contenedorimagen {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	gap: 20px;
	padding-left: 80px;
	margin-top: 20px;
}

.contenedorimagen img {
	border-radius: 10px;
	box-shadow: 0px 5px 20px;
}

.contenedorimagen h4 {
		width: 60%;
	}

.contenedorimagen a {
	text-decoration: none;
	color: white;
}

.contenedorimagen p {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	padding: 10px;
	width: 18%;
	background-color: #A28C48;
	border-color: #A28C48;
	border-radius: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	transition: transform 0.3s ease;
}

.contenedorimagen p:hover {
	background-color: #618634;
	transform: scale(1.1);
}

.contenedoraudio {
	width: 100%;
	display: flex;
	justify-content: center;
}

.audio {
	height: 100px;
	width: 50%;
	margin-top: 20px;
	padding: 12px 0px 10px;
	border-radius: 10px;
	box-shadow: 0px 5px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.audio h4 {
	padding-top: 5px;
}

.audio h5 {
	padding-bottom: none;
}

footer p {
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

footer {
	padding: 5px;
	margin: 20px 0px 20px 0px;
	height: 30px;
	background-color: #A28C48;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	justify-content: center;
}

@media screen and (max-width:600px) {
	
	h1 {
		font-size: 60px;
		line-height: 65px;
	}
	
	h4 {
		font-size: 18px;
		line-height: 22px;
	}
	
	p, h5, li, label {
		font-size: 16px;
		line-height: 24px;
	}
	
	input, textarea {
		font-size: 14px;
		line-height: 20px;
	}
	
	/* INDEX */
	
	.botonera {
		flex-direction: column;
		align-items: center;
	}
	
	.fotoynombre {
		flex-direction: column;
		padding-top: 60px;
	}
	
	.contenedor {
		flex-direction: column;
		align-content: center;
		margin: 0px 120px;
	}
	
	.contenedor h2 {
		max-width: 100%;
	}
	
	.contenedor p {
		max-width: 100%;
	}
	
	.audio {
		width: 100%;
	}
	
	/* PROYECTOS */
	
	section h2 {
		padding-top: 40px;
	}
	
	.contenedorgaleria {
		flex-direction: column;
		padding-top: 40px;
		}
	
	.fila1, .fila2 {
		flex-direction: column;
		align-items: flex-start;
		gap: 18px;
		width: 100%;
	}
	
	.contenedorimagen {
		flex-direction: column;
		width: 200%;
		padding-bottom: 40px;
	}
	
	.contenedorimagen h4 {
		width: 40%;
	}
	
	.contenedorimagen img {
		height: 40%;
		width: 40%;
	}
	
	.contenedorimagen a {
		height: 100%;
		width: 50%;
	}
	
	/* CONTACTO */
	
	.contacto-formulario h2 {
	padding-top: 100px;
	}
	
	.contacto-formulario h4 {
		width: 80%;
		padding: 20px 0px 20px;
	}
	
	.items-formulario {
		flex-direction: column;
		align-items: flex-start;
		
	}
	
	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	.contenedorformulario {
		margin: 0px;
	}
	
	form p {
		width: 150%;
	}
	
	input {
		width: 150%;
	}
	
	textarea {
		width: 150%;
	}
	
	.enviar-formulario {
		width: auto;
		margin-bottom: 30px;
	}
}